body{
    background-color: #e9eff0;
    padding: 15px;
    text-align: center;
  }
  
  h1{
    font-family: "Futura", "Tahoma", "sans-serif";
  }
  
  p{
    font-family: "Verdana", "sans-serif"; 
  }
  
  canvas{
    border: 3px solid black;
    margin: 7px;
  }